<script type="text/javascript">
    $(function () {
        //轮播图效果
        var c = 0;

        //加一个时间事件
        function timer() {
            //获得序号
            c++;
            if (c == 6) {
                c = 0;
            }
//				    alert(c);
            //让自己显示，兄弟元素隐藏
            $("#inBaner .big_eye_pic li").eq(c).stop().fadeIn(1800).siblings().fadeOut(800);
            //改变颜色
            $("#inBaner .btn ul li").eq(c).stop().addClass("cur").siblings().removeClass("cur");
        }

        time = setInterval(timer, 2000);
        //给图片添加一个移入移出效果
        $("#inBaner").hover(function () {
            //停止时间
            clearInterval(time);
        }, function () {
            //时间继续
            time = setInterval(timer, 2000);
        });
        //给色块添加一个移入移出事件
        $("#inBaner .btn ul li").mouseenter(function () {
            var n = $(this).index();
            //让第一个人图片显示 其余的隐藏
            $("#inBaner .big_eye_pic li").eq(n).stop().show().siblings().hide();
            //改变颜色
            $("#inBaner .btn ul li").eq(n).stop().addClass("cur").siblings().removeClass("cur");
        });
        //添加一个点击事件
        $(".her_top .her_title .her_menu li").click(function () {
            var n = $(this).index();
            //切换颜色
            $(".her_menu li").eq(n).addClass("current").siblings().removeClass("current");
            //切换商品
            $(".her_top .pro_con").eq(n).show().siblings(".pro_con").hide();
        })
        //搜索框下滑
        $(window).scroll(function () {
            //获得滚动条距离顶部距离
            var t = $(document).scrollTop();
            document.title = t;
            if (t > 530) {
                $("#nav").show();
            } else {
                $("#nav").hide();
            }
        });
    });
</script>
<div id="append" class="alert alert-danger alert-dismissable fade show" style="text-align: center;margin-right: 20px" ng-if="loginErr">
    <button type="button" class="close" ng-click="closeLoginErr()">&times;</button>
    <span style="font-size: 15px"><strong>{{errMessage}}</strong></span>
</div>
<!--顶部公用-->
<div class="header">
    <!--顶部导航-->
    <div class="header_top">
        <div class="w1200">
            <div class="h_t_l">
                <div class="login_l" ng-if="!user.token">
                    <span>欢迎来到享忆!</span>
                    <a class="a_login" href="#!/login">[登录]</a>
                    <span class="line"></span>
                    <a class="" href="#!/register">[注册]</a>
                </div>
                <div class="login_l" ng-if="user.token">
                    <span>欢迎来到享忆!</span>
                    <span>{{user.username}}</span>
                    <span ng-click="logOut()" style="cursor: pointer"> <strong>[登出]</strong></span>
                </div>
            </div>
            <div class="h_t_r">
                <ul>
                    <li>
                        <a href="#!/user">我的享忆</a>
                        <span class="line"></span>
                    </li>
                    <li>
                        <i class="tel_icon"></i>
                        <a href="">300-xx-2xx1</a>
                        <span class="line"></span>
                    </li>
                    <li class="cus_c_box">
                        <a href="">客服中心</a>
                        <div class="cus_center" style="width: 70px">
                            <a href="">帮助中心</a>
                            <a href="">会员反馈</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--搜索-->
    <div class="full_sc">
        <div class="w1200 header_conter">
            <div class="h_c_logo">
                <a href="#!/home">
                    <img src="../image/logo1.bmp" style="height: 71px"/>
                </a>
            </div>
            <div>
                <form class="bs-example bs-example-form" role="form" style="margin-left: 400px;padding-top: 15px">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="搜你享搜!">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" style="height: 53.08px;width: 58px">
                                        搜索
                                    </button>
                                </span>
                                <div style="margin-left: 50px">
                                    <button type="button" class="btn btn-outline-danger" ng-click="shareMemory()" style="float: right;width: 100px;height: 53px" data-title="消息" data-toggle="sharememorypopover" data-trigger="focus" data-placement="bottom" data-content="您还没有登录呢！">分享记忆</button>
                                </div>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>
            </div>
        </div>
    </div>
    <!--菜单-->
    <div class="full_nav">
        <div class="w1200">
            <ul class="nav">
                <li class="li_all_type">
                    <a href="">全部分类</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--头部end-->
<!--轮播区域-->
<div class="full_big_eye" style="margin-top: 141px">
    <!--菜单-->
    <div class="index_type">
        <ul class="index_type_ul">
            <li>
                <span>书籍<b>></b></span>
            </li>
            <li>
                <span>电器<b>></b></span>
            </li>
            <li>
                <span>其他<b>></b></span>
            </li>
        </ul>
    </div>
    <!--菜单-->
    <!--轮播图-->
    <div class="full_eye">
        <div id="inBaner">
            <ul class="big_eye_pic">
                <li style="display: block;">
                    <a href="" class="img_box">
                        <img src="./image/web-101-101-1.jpg"/>
                    </a>
                </li>
                <li>
                    <a href="" class="tpl">
                        <img src="./image/web-101-101-2.jpg" style="margin-left: 400px"/>
                    </a>
                </li>
                <li>
                    <a href="" class="tpl">
                        <img src="./image/web-101-101-3.jpg" style="margin-left: 400px"/>
                    </a>
                </li>
                <li>
                    <a href="" class="tpl">
                        <img src="./image/web-101-101-4.jpg" style="margin-left: 400px"/>
                    </a>
                </li>
                <li>
                    <a href="" class="tpl">
                        <img src="./image/web-101-101-5.jpg" style="margin-left: 400px"/>
                    </a>
                </li>
            </ul>
            <div class="btn">
                <ul>
                    <li class="cur"></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
    <!--轮播图-->
</div>
<!--轮播区域-->
<!--商品区-->
<div class="w1200">
    <div class="her_top">
        <div class="her_title">
            <ul class="her_menu">
                <li class="current">
                    <i class="today_zb_icon"></i>
                    最新推荐
                    <i class="jx_icon_down"></i>
                </li>
            </ul>
        </div>
        <div class="pro_con" style="display: block;">
            <div class="P_left">
                <div class="groDiv">
                    <div style="position: relative;overflow: hidden;">
                        <ul class="groUlOut">
                            <li style="float: left;width: 224px;" ng-repeat="i in products" ng-click="goToDetail(i)">
                                <div class="x">精选电脑</div>
                                <a class="pro">
                                    <img ng-src="{{i.img}}" style="padding-right: 2px"/>
                                </a>
                                <p class="box_glay">
                                    <a href="" class="pro_text">
                                        <span>{{i.name}}</span>
                                    </a>
                                </p>
                                <div class="now_price">
                                    <div class="price">
	    								<span class="bigfont">
	    									<span class="f_14">￥</span><span>{{i.price}}</span>
	    								</span>
                                        <span><del>￥{{i.buy_price}}</del></span>
                                        <!--<div class="zk">4.8折</div>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--&lt;!&ndash;第四区&ndash;&gt;-->
    <div class="day_box">
        <div class="qinha_title">
            <div class="v_h2">
                <p class="h2_top">书籍</p>
                <p class="h2_bottom">精致好物 更快乐的生活</p>
            </div>
        </div>
        <ul class="day_goods">
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_1.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_2.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_3.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_4.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_5.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_6.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_7.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_8.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_9.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_10.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_11.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_12.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
        </ul>
    </div>
    <div class="day_box">
        <div class="qinha_title">
            <div class="v_h2">
                <p class="h2_top">电器</p>
                <p class="h2_bottom">精致好物 更快乐的生活</p>
            </div>
        </div>
        <ul class="day_goods">
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_1.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_2.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_3.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_4.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_5.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_6.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_7.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_8.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_9.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_10.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_11.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_12.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
        </ul>
    </div>
    <div class="day_box">
        <div class="qinha_title">
            <div class="v_h2">
                <p class="h2_top">其他</p>
                <p class="h2_bottom">精致好物 更快乐的生活</p>
            </div>
        </div>
        <ul class="day_goods">
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_1.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_2.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_3.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_4.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_5.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_6.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_7.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_8.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_9.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_10.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_11.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
            <li>
                <a href="" class="a_con_list">
                    <p class="p_img"><img src="./image/day_12.jpg"/></p>
                </a>
                <p class="p_title">
                    <span>【7.5折】</span>乐途女士经典跑鞋1+1时尚组（后跟杯）
                </p>
                <p class="p_p">
                    <span class="price1">￥<span>298.00</span></span>
                    <span class="price2"><del>￥398.00</del></span>
                    <a href="" class="gwc"></a>
                </p>
            </li>
        </ul>
    </div>
    <!--第四区-->
</div>
<!--商品区-->
<!--下拉搜索-->
<div id="nav" class="search_fixed">
    <div class="w1200">
        <div class="s_fixed_l"><img src="../image/search_logo.png" style="width: 100px;height: 100px;margin-top: -25px;margin-left: 20px"/></div>
        <div class="s_fixed_r">
            <form action="" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜你享搜!" style="height: 35.08px;width: 600px">
                    <span class="input-group-btn">
                        <span style="font-size: 20px; line-height: 35px; margin-left: 10px; color: white">
                            搜索
                        </span>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<!--下拉搜索end-->
<!--底部公用-->
<div class="footer">
    <!--<div class="footer_b w1200"><img src="./image/foot_img1.jpg"/></div>-->
    <div class="footer_help w1200">
        <div class="footer1_l" style="margin-left: 20%">
            <dl class="helpDl">
                <dt><h5>使用帮助</h5></dt>
                <dd><a href="">税费收取规则 </a></dd>
                <dd><a href="">新手指南 </a></dd>
                <dd><a href="">常见问题 </a></dd>
                <dd><a href="">用户协议 </a></dd>
            </dl>
            <dl class="helpDl">
                <dt><h5>会员服务</h5></dt>
                <dd><a href="">积分政策 </a></dd>
                <dd><a href="">会员权益 </a></dd>
                <dd><a href="">会员等级 </a></dd>
            </dl>
            <dl class="helpDl">
                <dt><h5>支付方式</h5></dt>
                <dd><a href="">积分支付 </a></dd>
                <dd><a href="">货到付款 </a></dd>
                <dd><a href="">在线支付 </a></dd>
                <dd><a href="">优惠券支付 </a></dd>
            </dl>
            <dl class="helpDl">
                <dt><h5>配送方式</h5></dt>
                <dd><a href="">包邮政策 </a></dd>
                <dd><a href="">费用说明 </a></dd>
                <dd><a href="">配送说明 </a></dd>
            </dl>
            <dl class="helpDl">
                <dt><h5>售后服务</h5></dt>
                <dd><a href="">电子发票 </a></dd>
                <dd><a href="">售后咨询 </a></dd>
                <dd><a href="">退货办理 </a></dd>
                <dd><a href="">退货政策 </a></dd>
            </dl>
        </div>
    </div>
    <div class="footer_nav">
        <div class="w720">
            <ul>
                <li>
                    <a href="">关于享忆 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">投资者关系 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">商家入驻 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">联系我们 </a>
                    <span class="line"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="w1200">
            <p>
                <span class="font_arial">Copyright© 2006-2016 happigo. All Rights Reserved </span>
                免费服务热线: 400-705-1111 | 固话也可拨打: 800-705-1111
                <span class="font_arial">E-Mail: service@happigo.com</span><br>
                湘ICP备12000157号 信息网络传播视听节目许可证号：1810530
            </p>
            <p class="footer_b">
                <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/2782875193.html">
                    <img src="./image/foot_img3.png"/>
                </a>
                <a href="https://search.szfw.org/cert/l/CX20150428007576007720">
                    <img src="image/foot_img4.png"/>
                </a>
            </p>
        </div>
    </div>
</div>
<!--底部end-->
<!--右侧导航-->
<div class="fixed_dh">
    <div class="f_r_top">
        <div class="top_i">
            <i class="icon_user"></i>
            <span>账号</span>
        </div>
        <div class="f_line">
            <p class="f_line1"></p>
            <p class="f_line2"></p>
        </div>
        <div class="top_i">
            <i class="icon_collect"></i>
            <span>收藏</span>
        </div>
    </div>
    <div class="f_bottom">
        <div class="f_ke">
            <i class="online_cus"></i>
        </div>
        <div class="top_is">
            <a href="javascript:scrollTo(0,0);" title="回到顶部">
                <i class="retrun_top"></i>
            </a>
        </div>
    </div>
</div>
<!--右侧导航-->


<!-- 模态框 -->
<div class="modal fade" id="addedProduct">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">分享记忆</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <!--省份-->
                <div style="height: 50px;">
                    <span>（必填）</span>
                    <div class="dropdown">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="width: 190px;height: 38px;float: left;margin-right: 20px">
                            {{selectedProvince.name}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" ng-click="selectProvince(province)" ng-repeat="province in provinceList">{{province.name}}</a>
                        </div>
                    </div>
                    <div class="dropdown" ng-if="selectedProvince.id">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="width: 190px;height: 38px;float: left;margin-right: 20px">
                            {{selectedCity.name}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" ng-click="selectCity(city)" ng-repeat="city in cityList">{{city.name}}</a>
                        </div>
                    </div>
                    <div class="dropdown" ng-if="selectedCity.id">
                        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="width: 190px;height: 38px;float: left;margin-right: 20px">
                            {{selectedSchool.schoolname}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" ng-click="selectSchool(school)" ng-repeat="school in schoolList">{{school.schoolname}}</a>
                        </div>
                    </div>
                </div>
                <!--商品名称-->
                <div style="margin-top: 20px">
                    <div class="form-group">
                        <label class="input-label">商品名称</label>
                        <div class="labe-input"><input placeholder="请输入商品名称（必填）" type="text" ng-model="productName"></div>
                    </div>
                </div>
                <!--商品故事-->
                <div>
                    <div class="card  form-group">
                        <label class="card-header">商品故事</label>
                        <textarea class="card-body form-control" rows="5" id="comment" ng-model="productDescription"></textarea>
                    </div>
                </div>
                <!--商品价格-->
                <div>
                    <div class="form-group" style="width: 35%; margin: 0">
                        <label class="input-label">价格</label>
                        <div class="labe-input"><input placeholder="请输入商品价格（必填）" type="number" ng-model="productPrice"></div>
                    </div>
                    <div class="form-group" style="width: 35%;height: 38px;float: right;margin-top: -38px;margin-right: 150px">
                        <label class="input-label">原价</label>
                        <div class="labe-input"><input placeholder="请输入商品原价" type="number" ng-model="productBuyPrice"></div>
                    </div>
                </div>
                <!--商品分类-->
                <div style="margin-top: 20px">
                    <span>（必填）</span>
                    <div class="form-group">
                        <label class="input-label">分类</label>
                        <div class="dropdown">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="width: 190px;height: 38px;float: left">
                                {{selectedClassification.name}}
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" ng-click="selectClassification(classification)" ng-repeat="classification in productClassificationList">{{classification.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" style="width: 58px; height: 38px" ng-click="addProduct()" data-title="消息" data-toggle="addProductpopover" data-trigger="focus" data-placement="left" data-content="发送失败！">发布</button>
            </div>

        </div>
    </div>
</div>