<script type="text/javascript">
    $(function () {
        document.title = '享忆-用户';
        //搜索框下滑
        $(window).scroll(function () {
            //获得滚动条距离顶部距离
            var t = $(document).scrollTop();
            if (t > 100) {
                $("#nav").show();
            } else {
                $("#nav").hide();
            }
        });
    });
</script>
<div id="append" class="alert alert-danger alert-dismissable fade show" style="text-align: center" ng-if="loginErr">
    <button type="button" class="close" ng-click="closeLoginErr()">&times;</button>
    <span style="font-size: 15px"><strong>{{errMessage}}</strong></span>
</div>
<div class="header">
    <!--顶部导航-->
    <div class="header_top">
        <div class="w1200">
            <div class="h_t_l">
                <div class="login_l" ng-if="!user.token">
                    <span>欢迎来到享忆!</span>
                    <a class="a_login" href="#!/login">[登录]</a>
                    <span class="line"></span>
                    <a class="" href="#!/register">[注册]</a>
                </div>
                <div class="login_l" ng-if="user.token">
                    <span>欢迎来到享忆!</span>
                    <span>{{user.username}}</span>
                    <span ng-click="logOut()" style="cursor: pointer"> <strong>[登出]</strong></span>
                </div>
            </div>
            <div class="h_t_r">
                <ul>
                    <li>
                        <a href="#!/user">我的享忆</a>
                        <span class="line"></span>
                    </li>
                    <li>
                        <i class="tel_icon"></i>
                        <a href="">300-xx-2xx1</a>
                        <span class="line"></span>
                    </li>
                    <li class="cus_c_box">
                        <a href="">客服中心</a>
                        <div class="cus_center" style="width: 70px">
                            <a href="">帮助中心</a>
                            <a href="">会员反馈</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--搜索-->
    <div class="full_sc">
        <div class="w1200 header_conter">
            <div class="h_c_logo">
                <a href="#!/home">
                    <img src="../image/logo1.bmp" style="height: 71px"/>
                </a>
            </div>
            <div>
                <form class="bs-example bs-example-form" role="form" style="margin-left: 400px;padding-top: 15px">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="top-search">
                                    <input type="text" class="form-control" placeholder="搜你享搜!" ng-model="searchContent">
                                    <ul ng-style="searchList">
                                        <li ng-repeat="classification in productClassificationList" ng-click="search(classification)"><strong>&nbsp找&nbsp;'{{searchContent}}'&nbsp;{{classification.name}}</strong></li>
                                    </ul>
                                </div>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" style="height: 53.08px;width: 58px">
                                        搜索
                                    </button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </form>
            </div>
        </div>
    </div>
</div>
<!--头部end-->
<div class="w1000 ClearFix margin_top20">
    <!--左侧end-->
    <div class="ur_left">
        <div class="ur_slide">
            <a href=""><h2 class="slide_h2"><b></b>我的享忆</h2></a>
            <ul class="slide_list">
                <li class="no" ng-click="getTabContent('myInformation')" ng-style="myInformationCss">
                    <a style="width: 100%; cursor: pointer">我的资料</a>
                </li>
                <li ng-click="getTabContent('myProducts')" ng-style="myProductsCss">
                    <a style="width: 100%; cursor: pointer">我的发布</a>
                </li>
                <li ng-click="getTabContent('myCollect')" ng-style="myCollectCss">
                    <a style="width: 100%; cursor: pointer">我的收藏</a>
                </li>
                <li ng-click="getTabContent('myNews')" ng-style="myNewsCss">
                    <a style="width: 100%; cursor: pointer">我的消息</a>
                </li>
            </ul>
        </div>
    </div>
    <!--左侧end-->
    <!--右侧top-->
    <div class="ur_right">
        <div class="uc_top ClearFix">
            <div class="uc_t_l">
                <a href="" class="p_big">个人中心</a>
                <p class="p_small">您好，欢迎来到享忆</p>
            </div>
            <div class="uc_t_m">
                <div class="m_img">
                    <div class="hg_box">
                        <img src="image/hg_img_0.png"/>
                    </div>
                    <img src="image/user_center_img4.jpg"/>
                </div>
                <div class="m_user_info">
                    <div class="m_name">{{user.username}}</div>
                    <div class="m_grade"><span>注册会员</span></div>
                    <div class="m_jf_yhj">
                        <p style="color: white">注册时间：<span id="use_savea t_num">{{user.date_joined}}</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!--我的资料-->
        <div class="uc_c_right" ng-if="nowTab == 'myInformation'">
            <div class="order_tips">
                <ul>
                    <li>
                        <div class="d_h2"><h2><span></span>我的资料</h2></div>
                    </li>
                </ul>
            </div>
            <div style="width:100%;height: 358px">
                <img class="card-img-top" src="http://static.runoob.com/images/mix/img_avatar.png" alt="Card image" style="width: 200px;height: 200px;margin: 80px 0 0 100px">
                <div style="float: right;width: 500px;margin-top: 80px">
                    <ul ng-if="!editMy">
                        <li>
                            <p>
                                <label>{{user.username}}</label>
                                <label style="margin-left: 100px" ng-if="user.sex==0">这个人的性别很神秘！</label>
                                <label style="margin-left: 100px" ng-if="user.sex==1">我是男生</label>
                                <label style="margin-left: 100px" ng-if="user.sex==2">我是女生</label>
                            </p>
                        </li>
                        <li><p><label>{{user.school}}</label></p></li>
                        <li><p><label>{{user.cellphone}}</label></p></li>
                        <li><p><label ng-if="user.signature">{{user.signature}}</label><label ng-if="!user.signature">我的个性就是不写个性签名~~</label></p></li>
                        <li>
                            <button class="btn btn-outline-danger" type="button" style="height: 30px;width: 200px;font-size: 10px" ng-click="editMyInformation()">编辑</button>
                        </li>
                    </ul>
                    <ul ng-if="editMy" class="edit-my-info">
                        <li>
                            <p>
                                <input maxlength="15" type="text" class="form-control" style="width: 150px;display: inline-block" ng-model="user.username"/>
                                <input type="number"  maxlength="11" class="form-control" placeholder="请输入手机号" style="width: 150px;margin-right: 140px;float: right" ng-model="user.cellphone" />
                            </p>
                        </li>
                        <li>
                            <form>
                                <label class="radio-inline" style="margin-right: 10px"><input type="radio" name="optradio" ng-checked="user.sex==0" onChange="angular.element(this).scope().changeSex('s')">&nbsp;我要保密</label>
                                <label class="radio-inline" style="margin-right: 10px"><input type="radio" name="optradio" ng-checked="user.sex==2" onChange="angular.element(this).scope().changeSex('g')">&nbsp;我是女生</label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-checked="user.sex==1" onChange="angular.element(this).scope().changeSex('b')">&nbsp;我是男生</label>
                            </form>
                        </li>
                        <li style="width: 100%; height: 45px">
                            <div class="dropdown">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="max-width: 120px;height: 38px;float: left;margin-right: 20px">
                                    {{selectedProvince.name}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" ng-click="selectProvince(province)" ng-repeat="province in provinceList">{{province.name}}</a>
                                </div>
                            </div>
                            <div class="dropdown" ng-if="selectedProvince.id">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="max-width: 120px;height: 38px;float: left;margin-right: 20px">
                                    {{selectedCity.name}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" ng-click="selectCity(city)" ng-repeat="city in cityList">{{city.name}}</a>
                                </div>
                            </div>
                            <div class="dropdown" ng-if="selectedCity.id">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" style="width: 150px;max-width: 200px;height: 38px;float: left;margin-right: 20px">
                                    {{selectedSchool.schoolname}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" ng-click="selectSchool(school)" ng-repeat="school in schoolList">{{school.schoolname}}</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p>
                                <textarea maxlength="28" class="form-control" cols="20" rows="2" placeholder="我的个性就是不填个性签名~~" style="width: 450px;resize:none" ng-model="user.signature"></textarea>
                            </p>
                        </li>
                        <li>
                            <button ng-if="!editMy" class="btn btn-outline-danger" type="button" style="height: 30px;width: 200px;font-size: 10px" ng-click="editMyInformation()">编辑</button>
                            <button ng-if="editMy" class="btn btn-outline-danger" type="button" style="height: 30px;width: 200px;font-size: 10px" ng-click="updateMyInformation()">完成</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--我的发布-->
        <div class="uc_c_right" ng-if="nowTab == 'myProducts'">
            <div class="order_tips">
                <ul>
                    <li>
                        <div class="d_h2"><h2><span></span>我的发布</h2></div>
                    </li>
                </ul>
            </div>

            <!--“我的发布” 表格-->
            <div class="table-responsive" ng-if="myProducts.length>0" ng-cloak>
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>名称</th>
                        <th>价格</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in myProducts">
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td ng-if="product.status==0">已上架</td>
                        <td ng-if="product.status==1">已下架</td>
                        <td ng-if="product.status==0">
                            <button type="button" class="btn btn-outline-danger btn-sm" style="height: 40px;width: 80px;" ng-click="setProductStatus(product.id, 1)">下架</button>
                        </td>
                        <td ng-if="product.status==1">
                            <button type="button" class="btn btn-outline-danger btn-sm" style="height: 40px;width: 80px;" ng-click="setProductStatus(product.id, 0)">上架</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="myProducspageList.length>1">
                    <ul class="pagination" style="float: right;margin-right: 110px">
                        <li class="page-item" ng-click="Previous('myProducts')"><a class="page-link">Previous</a></li>
                        <li class="page-item" ng-repeat="i in myProducspageList" ng-click="getPageData(i[0], 'myProducts')"><a class="page-link" ng-style="i[1]">{{i[0]}}</a></li>
                        <li class="page-item" ng-click="Next('myProducts')"><a class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
            <div class="seufe" ng-show="myProducts.length==0" ng-cloak>
                <div class="detail_l_con4">
                    <div class="no_data"><img src="./image/no_data.png"><span>您还没有发布任何商品!</span></div>
                </div>
            </div>
        </div>

        <!--我的收藏-->
        <div class="uc_c_right" ng-if="nowTab == 'myCollect'">
            <div class="order_tips">
                <ul>
                    <li>
                        <div class="d_h2"><h2><span></span>我的收藏</h2></div>
                    </li>
                </ul>
            </div>

            <!--“我的收藏” 表格-->
            <div class="table-responsive" ng-if="productCollects.length>0" ng-cloak>
                <table class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th>名称</th>
                        <th>价格</th>
                        <th>卖家</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="collect in productCollects">
                        <td>{{collect.product_info.name}}</td>
                        <td>{{collect.product_info.price}}</td>
                        <td>{{collect.product_info.create_user.username}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-sm" style="height: 40px;width: 80px;" ng-click="cancelCollect(collect.id)">取消收藏</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-if="myCollectspageList.length>1">
                    <ul class="pagination" style="float: right;margin-right: 110px">
                        <li class="page-item" ng-click="Previous('collect')"><a class="page-link">Previous</a></li>
                        <li class="page-item" ng-repeat="i in myCollectspageList" ng-click="getPageData(i[0], 'collect')"><a class="page-link" ng-style="i[1]">{{i[0]}}</a></li>
                        <li class="page-item" ng-click="Next('collect')"><a class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
            <div class="seufe" ng-show="productCollects.length==0">
                <div class="detail_l_con4">
                    <div class="no_data"><img src="./image/no_data.png"><span>您还没有收藏任何商品!</span></div>
                </div>
            </div>
        </div>

        <!--我的消息-->
        <div class="uc_c_right" ng-if="nowTab == 'myNews'">
            <div class="order_tips">
                <ul>
                    <li>
                        <div class="d_h2"><h2><span></span>我的消息</h2></div>
                    </li>
                </ul>
            </div>
            <div>
                <div class="list-group user-news-list" ng-if="!newsDetail.title">
                    <a class="list-group-item list-group-item-light" ng-repeat="new in myNews" ng-click="getNewsDetail(new)">{{new.title}}</a>
                </div>
                <div ng-if="newsDetail.title">
                    <div class="card" style="height: 356px;border: none">
                        <a ng-click="newDeatilBack()" class="card-link" style="font-size: 15px;padding: 10px 0 0 10px;color: #00b3ee;cursor: pointer">返回</a>
                        <div class="card-body" style="text-align: center">
                            <h4 class="card-title">{{newsDetail.title}}</h4>
                            <p class="card-text" style="padding-top: 50px">{{newsDetail.content}}</p>
                        </div>
                    </div>
                </div>
                <div ng-if="myNewList.length>1">
                    <ul class="pagination" style="float: right;margin-right: 110px;margin-top: 21px">
                        <li class="page-item" ng-click="Previous('news')"><a class="page-link">Previous</a></li>
                        <li class="page-item" ng-repeat="i in myNewList" ng-click="getPageData(i[0], 'news')"><a class="page-link" ng-style="i[1]">{{i[0]}}</a></li>
                        <li class="page-item" ng-click="Next('news')"><a class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--右侧top-->
</div>
<!--底部公用-->
<div class="footer">
    <div class="footer_b w1200"></div>
    <div class="footer_help w1200" style="padding-left: 200px">
        <div class="footer1_l">
            <dl class="helpDl">
                <dt><h5>使用帮助</h5></dt>
                <dd><a href="">税费收取规则 </a></dd>
                <dd><a href="">新手指南 </a></dd>
                <dd><a href="">常见问题 </a></dd>
                <dd><a href="">用户协议 </a></dd>
            </dl>
            <dl class="helpDl">
                <dt><h5>会员服务</h5></dt>
                <dd><a href="">积分政策 </a></dd>
                <dd><a href="">会员权益 </a></dd>
                <dd><a href="">会员等级 </a></dd>
            </dl>
            <dl class="helpDl">
                <dt><h5>支付方式</h5></dt>
                <dd><a href="">积分支付 </a></dd>
                <dd><a href="">货到付款 </a></dd>
                <dd><a href="">在线支付 </a></dd>
                <dd><a href="">优惠券支付 </a></dd>
            </dl>
            <dl class="helpDl">
                <dt><h5>配送方式</h5></dt>
                <dd><a href="">包邮政策 </a></dd>
                <dd><a href="">费用说明 </a></dd>
                <dd><a href="">配送说明 </a></dd>
            </dl>
            <dl class="helpDl">
                <dt><h5>售后服务</h5></dt>
                <dd><a href="">电子发票 </a></dd>
                <dd><a href="">售后咨询 </a></dd>
                <dd><a href="">退货办理 </a></dd>
                <dd><a href="">退货政策 </a></dd>
            </dl>
        </div>
    </div>
    <div class="footer_nav">
        <div class="w720">
            <ul>
                <li>
                    <a href="">关于享忆 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">投资者关系 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">商家入驻 </a>
                    <span class="line"></span>
                </li>
                <li>
                    <a href="">联系我们 </a>
                    <span class="line"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="w1200">
            <p>
                <span class="font_arial">Copyright© 2006-2016 happigo. All Rights Reserved </span>
                免费服务热线: 400-705-1111 | 固话也可拨打: 800-705-1111
                <span class="font_arial">E-Mail: service@happigo.com</span><br>
                湘ICP备12000157号 信息网络传播视听节目许可证号：1810530
            </p>
            <p class="footer_b">
                <a href="http://www.itrust.org.cn/home/index/itrust_certifi/wm/2782875193.html">
                    <img src="./image/foot_img3.png"/>
                </a>
                <a href="https://search.szfw.org/cert/l/CX20150428007576007720">
                    <img src="image/foot_img4.png"/>
                </a>
            </p>
        </div>
    </div>
</div>